VITE_APP_NAME="One More Restaurant"
VITE_BASE_URL="/"
VITE_API_URL="http://localhost:8000/api"
VITE_HERO_HEADING="Discover authentic Khmer dining in a modern sanctuary."
VITE_HERO_TEXT="Immerse yourself in the rich flavors of authentic Khmer cuisine, where tradition meets a warm and inviting dining experience."
VITE_WEBAPP_IMAGE_URL="https://omd.a2hosted.com"
WEBAPP_IMAGE_URL="https://omd.a2hosted.com"